body{
    margin:0;
    padding:0;
    margin: auto;
    width: 1600px;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 20px;
    background: rgba(131, 164, 236, 0.2);
}
.wrapper {
    margin: auto;
    width: 1200px;
}

.meme-container {
    width: 80%;
    margin: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.meme-tittle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-text {
}

.show-meme {
    display: none;
    rotate: 0deg;
    transition-duration: 300ms;
}
.meme-img {
    display: none;
    text-align: center;
}

.meme-container:hover .meme-img {
    display: block;
}
.wrapper:hover .title-text {
    color: blue;
}
.wrapper:hover .show-meme {
    display: block;
}
.meme-container:hover .title-text {
    color: black;
}
.meme-container:hover .show-meme{
    rotate: 45deg;
    transition-duration: 300ms;
}
.meme-container:active {
    color: blue;
}
.meme-container:active .meme-img {
    opacity: 0.5;
}
.meme-container:active .title-text {
    color: blue
}